################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlogApplication/bin/Debug
/BlogApplication/obj/Debug
